@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --anthracite: #39424e;
  --rouge: #d0212f;
}

html, body {
  padding: 0;
  margin: 0;
  background: #eceef2;
  color: #1d2530;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* { box-sizing: border-box; }
